#calculator{
    width: 250px;
    height: 350px;
    border: 1px solid black;
    text-align: center;
    background: lightblue;
    margin: 150px auto;
    box-shadow: 0px 0px 30px gray;
}
#display{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 220px;
    height: 30px;
    border: 1px solid black;
    text-align: right;
    font: 20px bold;
    color: black;
}

#keys{
    width: 41px;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px skyblue;
    cursor: pointer;
}
#keys:hover{
    background: white;
    font-weight: bold;
}